{% extends 'base.html' %}
{% block content %}
<h2>Products</h2>
<a href="{% url 'product_create' %}" class="btn btn-primary">New Product</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Base Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>${{ product.base_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}